input {
    padding: 10px;
    margin: 5px;
    width: 180px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

#result {
    margin-top: 20px;
    color: blue;
}